@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  background-color: rgb(252, 249, 252);
  background-image: url("");
  
 
  
  
  
  
  justify-content: center;
}

.dialogue-box * {
  margin: 0;
}

.dialogue-text {
  padding: 2vh;
  font-family: Montserrat, sans-serif;
  color: white;
}

.name {
  font-style: italic;
}

.division {
  height: .5vh;
  background-image: linear-gradient(to right, white, transparent);
  margin-block: 1vh;
}

.none {
  display: none;
}

.caret {
  color: rgb(253, 253, 253);
  fill: white;
  position: absolute;
  width: 5vh;
  height: auto;
  bottom: 1.25vh;
  right: 2vh;
  opacity: 0;
  transition: opacity 500ms ease;
  animation: bounce 1s infinite ease-in-out both;
}

.caret.active {
  opacity: 1;
}







